.dropdown-menu {
  position: absolute;
  top: 10%;
  left: 58%;
  background-color: var(--app-background-color);
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  min-width: 150px;
  border-radius: 5px;
  display: block;

  .topic-list__item {
    line-height: 36px;
  }
}